@media only screen and (max-width: 768px) {
  .top-menu.with-hamburger {
    position: absolute;
    opacity: 1; }
    .top-menu.with-hamburger input[type="checkbox"][id="hamburger"] + label + ul {
      display: none;
      background: #000;
      max-height: 100vh; }
      .top-menu.with-hamburger input[type="checkbox"][id="hamburger"] + label + ul > li {
        display: block;
        background: #000; }
        .top-menu.with-hamburger input[type="checkbox"][id="hamburger"] + label + ul > li #mainNavShareLink {
          display: none; }
        .top-menu.with-hamburger input[type="checkbox"][id="hamburger"] + label + ul > li ul.secondary {
          display: block;
          position: static;
          opacity: 1;
          width: 100%;
          left: auto;
          padding: 0;
          margin: 0; }
          .top-menu.with-hamburger input[type="checkbox"][id="hamburger"] + label + ul > li ul.secondary > li {
            display: block;
            width: 100%;
            left: auto;
            padding: 0;
            margin: 0;
            text-align: center; }
            .top-menu.with-hamburger input[type="checkbox"][id="hamburger"] + label + ul > li ul.secondary > li a {
              text-align: center;
              width: auto;
              justify-content: center; }
    .top-menu.with-hamburger input[type="checkbox"][id="hamburger"] {
      display: none; }
    .top-menu.with-hamburger input[type="checkbox"][id="hamburger"] + label {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 100;
      display: inline-block;
      width: calc(40 * (100vw / 400));
      cursor: pointer;
      font-size: calc(20 * (100vw / 400));
      text-align: center;
      background: #000; }
      .top-menu.with-hamburger input[type="checkbox"][id="hamburger"] + label i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
    .top-menu.with-hamburger input[type="checkbox"][id="hamburger"]:checked + label i {
      transform: translateX(-50%) translateY(-50%) rotateZ(90deg); }
    .top-menu.with-hamburger input[type="checkbox"][id="hamburger"]:checked + label + ul {
      display: inline-block; }

  .contact-page .contact {
    background: #dddddd;
    padding-top: calc(20 * (100vw / 768));
    min-height: calc(100vh - (60 * 100vw / 768) - (20 * (100vw / 768)));
    overflow: hidden;
    position: relative; }
    .contact-page .contact .slider-controller,
    .contact-page .contact .swiper-container-vertical,
    .contact-page .contact .logo,
    .contact-page .contact .button-block {
      display: none; }
    .contact-page .contact .slider-box {
      padding-top: calc(20 * (100vw / 400));
      padding-bottom: 70px; }
      .contact-page .contact .slider-box .title {
        border-left: 5px solid #d10918;
        padding-left: 10px;
        line-height: 0; }
        .contact-page .contact .slider-box .title * {
          line-height: normal; }
        .contact-page .contact .slider-box .title.last {
          margin-top: calc(15 * (100vw / 400));
          border: none;
          white-space: nowrap;
          padding: 0; }
          .contact-page .contact .slider-box .title.last:before {
            content: "";
            display: inline-block;
            width: 25vw;
            height: 25vw;
            background: url("../images/contact/executive-logo.png") left bottom no-repeat;
            background-size: contain; }
          .contact-page .contact .slider-box .title.last * {
            vertical-align: top; }
          .contact-page .contact .slider-box .title.last .small-text {
            line-height: calc(20 * (100vw / 400));
            color: black;
            font-size: calc(14 * (100vw / 400));
            display: inline-block;
            white-space: normal;
            width: 75vw; }
        .contact-page .contact .slider-box .title .main-text {
          color: black;
          font-size: calc(24 * (100vw / 400));
          font-weight: 800;
          text-transform: uppercase; }
        .contact-page .contact .slider-box .title .h2-text {
          color: #5a6268;
          font-size: calc(20 * (100vw / 400)); }
      .contact-page .contact .slider-box .slider {
        height: calc(150 * (100vw / 400));
        min-height: 100px;
        position: relative; }
        .contact-page .contact .slider-box .slider .button-next,
        .contact-page .contact .slider-box .slider .button-prev {
          position: absolute;
          top: 50%;
          width: calc(26 * (100vw / 400));
          height: calc(32 * (100vw / 400));
          z-index: 1000;
          cursor: pointer; }
          .contact-page .contact .slider-box .slider .button-next:hover,
          .contact-page .contact .slider-box .slider .button-prev:hover {
            opacity: 0.8; }
          .contact-page .contact .slider-box .slider .button-next.swiper-button-disabled,
          .contact-page .contact .slider-box .slider .button-prev.swiper-button-disabled {
            opacity: 0.5;
            cursor: auto; }
        .contact-page .contact .slider-box .slider .button-next {
          transform: translate(150%, -50%);
          background: url("../images/contact/slider-button-next.png") center no-repeat;
          background-size: contain;
          right: calc(((100vw - 20px) - 70vw) / 2); }
        .contact-page .contact .slider-box .slider .button-prev {
          transform: translate(-150%, -50%);
          background: url("../images/contact/slider-button-prev.png") center no-repeat;
          background-size: contain;
          left: calc(((100vw - 20px) - 70vw) / 2); }
        .contact-page .contact .slider-box .slider .play-button {
          background: url("../images/contact/slider-play-button.png") center no-repeat;
          background-size: cover;
          width: calc(50 * (100vw / 400));
          height: calc(30 * (100vw / 400));
          cursor: pointer;
          display: inline-block; }
        .contact-page .contact .slider-box .slider .video-title {
          width: 100%;
          color: white;
          font-size: calc(12 * (100vw / 400));
          font-weight: 800;
          text-transform: uppercase;
          padding-top: 5px; }
        .contact-page .contact .slider-box .slider .center-div {
          display: inline-block;
          max-width: calc(100% - 1px);
          vertical-align: middle;
          text-align: center; }
        .contact-page .contact .slider-box .slider .swiper-container {
          width: 100%;
          height: 100%;
          position: relative;
          padding: 0 0 20px 0; }
          .contact-page .contact .slider-box .slider .swiper-container:before, .contact-page .contact .slider-box .slider .swiper-container:after {
            content: "";
            display: inline-block;
            position: absolute;
            z-index: 2;
            top: 0;
            left: -1px;
            bottom: 20px;
            width: calc(((100vw - 20px) - 70vw) / 2 + 2px);
            background: rgba(221, 221, 221, 0.4); }
          .contact-page .contact .slider-box .slider .swiper-container:after {
            right: -1px;
            left: auto;
            transform: rotateY(180deg); }
          .contact-page .contact .slider-box .slider .swiper-container .swiper-wrapper .swiper-slide {
            text-align: center;
            font-size: calc(18 * (100vw / 400));
            background: #000000 url("../images/contact/slider-video-bg.png") center no-repeat;
            background-size: cover;
            -webkit-box-shadow: 0 5px 29px -5px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0 5px 29px -5px rgba(0, 0, 0, 0.75);
            box-shadow: 0 5px 29px -5px rgba(0, 0, 0, 0.75);
            width: 70vw !important; }
          .contact-page .contact .slider-box .slider .swiper-container .touch-block {
            position: absolute;
            z-index: 3;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0; }
    .contact-page .contact .contact-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
      background: red;
      white-space: nowrap; }
      .contact-page .contact .contact-footer .title {
        display: inline-block;
        width: 80vw;
        height: 100%;
        text-align: center;
        color: white;
        font-size: 18px;
        font-weight: 800;
        line-height: 36px;
        text-transform: uppercase;
        vertical-align: top; }
        .contact-page .contact .contact-footer .title nobr {
          vertical-align: middle; }
      .contact-page .contact .contact-footer .gray-button {
        display: inline-block;
        width: 20vw;
        height: 100%;
        text-align: center;
        position: relative;
        background: #5a6268; }
        .contact-page .contact .contact-footer .gray-button:before {
          content: "";
          display: inline-block;
          position: absolute;
          top: 10px;
          left: 10px;
          right: 10px;
          bottom: 10px;
          background: url("../images/contact/contact-icon.png") center no-repeat;
          background-size: contain; }
  .contact-page .video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(40, 40, 40, 0.8);
    z-index: 10000; }
    .contact-page .video-overlay .close {
      position: absolute;
      right: 10vw;
      top: calc(10 * 100vw / 400);
      font-size: calc(25 * 100vw / 400);
      color: white;
      cursor: pointer;
      z-index: 10000; }
      .contact-page .video-overlay .close:hover {
        opacity: 0.8; }
    .contact-page .video-overlay .video {
      white-space: nowrap;
      line-height: 0; }
      .contact-page .video-overlay .video * {
        line-height: normal; }
      .contact-page .video-overlay .video .button-block {
        width: 10vw;
        height: 100vh;
        display: inline-block;
        position: relative; }
        .contact-page .video-overlay .video .button-block .button-left,
        .contact-page .video-overlay .video .button-block .button-right {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: calc(26 * (100vw / 400));
          height: calc(32 * (100vw / 400));
          background: url("../images/contact/slider-button-prev.png") center no-repeat;
          background-size: contain;
          transform: translate(-50%, -50%);
          cursor: pointer; }
          .contact-page .video-overlay .video .button-block .button-left:hover,
          .contact-page .video-overlay .video .button-block .button-right:hover {
            opacity: 0.8; }
          .contact-page .video-overlay .video .button-block .button-left.button-disabled,
          .contact-page .video-overlay .video .button-block .button-right.button-disabled {
            opacity: 0.5;
            cursor: auto; }
        .contact-page .video-overlay .video .button-block .button-right {
          transform: translate(-50%, -50%);
          background-image: url("../images/contact/slider-button-next.png"); }
      .contact-page .video-overlay .video .video-container {
        display: inline-block;
        vertical-align: top;
        width: 80vw;
        height: calc(100vh - ((10 * 100vw / 400) + (25 * 100vw / 400) + 20px) * 2);
        margin-top: calc((100vh - (100vh - ((10 * 100vw / 400) + (25 * 100vw / 400) + 20px) * 2)) / 2);
        position: relative;
        background: black;
        -webkit-box-shadow: 0 5px 29px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0 5px 29px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 0 5px 29px -5px rgba(0, 0, 0, 0.75);
        line-height: 0; }
        .contact-page .video-overlay .video .video-container video {
          width: 100%;
          height: 100%; }
  .contact-page .contact-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(40, 40, 40, 0.8);
    z-index: 10000; }
    .contact-page .contact-overlay .close {
      position: absolute;
      right: 3vw;
      top: calc(0 * 100vw / 400);
      font-size: calc(55 * 100vw / 400);
      color: white;
      cursor: pointer;
      z-index: 10000; }
      .contact-page .contact-overlay .close:hover {
        opacity: 0.8; }
    .contact-page .contact-overlay .contact-form {
      display: inline-block;
      vertical-align: top;
      width: 94vw;
      min-height: calc(100vh - ((0 * 100vw / 400) + (55 * 100vw / 400) + 20px) * 2);
      margin-top: calc((100vh - (100vh - ((0 * 100vw / 400) + (55 * 100vw / 400) + 20px) * 2)) / 2);
      margin-left: 3vw;
      position: relative;
      background: #dee1e3;
      -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5), inset 0 0 200px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5), inset 0 0 200px rgba(0, 0, 0, 0.25);
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5), inset 0 0 200px rgba(0, 0, 0, 0.25);
      padding: calc(30 * (100vw / 400));
      box-sizing: border-box; }
      .contact-page .contact-overlay .contact-form .title {
        border-left: 10px solid #d10918;
        padding-left: 20px;
        line-height: 24px; }
        .contact-page .contact-overlay .contact-form .title .main-text {
          color: black;
          font-size: calc(24 * (100vw / 400));
          font-weight: 800;
          text-transform: uppercase; }
        .contact-page .contact-overlay .contact-form .title .h2-text {
          color: #5a6268;
          font-size: calc(18 * (100vw / 400)); }
      .contact-page .contact-overlay .contact-form .forms .input-box .input {
        margin-top: calc(25 * (100vw / 400));
        display: inline-block;
        width: 100%; }
        .contact-page .contact-overlay .contact-form .forms .input-box .input .input-title {
          color: #94999e;
          font-size: calc(18 * (100vw / 400));
          padding-bottom: calc(15 * (100vw / 400)); }
        .contact-page .contact-overlay .contact-form .forms .input-box .input input,
        .contact-page .contact-overlay .contact-form .forms .input-box .input textarea {
          background: none;
          border: none;
          border-bottom: 2px solid #adb1b4;
          outline: 0;
          width: 100%;
          color: black;
          font-size: calc(14 * (100vw / 400));
          font-weight: 700;
          padding: calc(5 * (100vw / 400)) 0; }
          .contact-page .contact-overlay .contact-form .forms .input-box .input input::-webkit-input-placeholder, .contact-page .contact-overlay .contact-form .forms .input-box .input textarea::-webkit-input-placeholder {
            color: black; }
          .contact-page .contact-overlay .contact-form .forms .input-box .input input:-moz-placeholder, .contact-page .contact-overlay .contact-form .forms .input-box .input textarea:-moz-placeholder {
            color: black; }
          .contact-page .contact-overlay .contact-form .forms .input-box .input input::-moz-placeholder, .contact-page .contact-overlay .contact-form .forms .input-box .input textarea::-moz-placeholder {
            color: black; }
          .contact-page .contact-overlay .contact-form .forms .input-box .input input:-ms-input-placeholder, .contact-page .contact-overlay .contact-form .forms .input-box .input textarea:-ms-input-placeholder {
            color: black; }
        .contact-page .contact-overlay .contact-form .forms .input-box .input textarea {
          width: 100%;
          resize: none; }
      .contact-page .contact-overlay .contact-form .forms .input-box .button {
        margin-top: 25px;
        padding-bottom: calc(50 * (100vw / 400)); }
        .contact-page .contact-overlay .contact-form .forms .input-box .button button {
          position: absolute;
          bottom: calc(30 * (100vw / 400));
          width: calc(100% - (30 * (100vw / 400)) * 2);
          text-align: center;
          font-size: calc(18 * (100vw / 400));
          line-height: calc(50 * (100vw / 400));
          text-transform: uppercase; } }

/*# sourceMappingURL=contact.mobile.css.map */
